:root {
    --color-general: #0067FF;
    --color-general-clear: #00B8EA;
    --color-red: #FF1720;
    --color-pink: #FF174E;
    --color-text: #000000;
    --color-text-grey: #707070;
    --color-grey:#637381;
    --color-5d: #5D5D5D;
    --color-f5: #F5F5F5;
    --color-db: #DBDBDB;
    --color-grisazul: #F6F9FB;
}