.text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    &-2{ -webkit-line-clamp: 2; }
    &-3{ -webkit-line-clamp: 3; }
    &-4{ -webkit-line-clamp: 4; }
    &-5{ -webkit-line-clamp: 5; }
}
