<template>
    <section>
        <div class="row mx-0 px-3 pl-5 my-1 border-bottom align-items-center" style="height:50px;">
            <p class="f-600">Preguntas más frecuentes</p>
            <div class="ml-auto h-100 d-middle-center cr-pointer" :class="filtro==1? 'border-b-red text-orange':''" style="width:170px;" @click="filtro=1">
                Tenderos
            </div>
            <div class="h-100 d-middle-center cr-pointer" :class="filtro==2? 'border-b-red text-orange':''" style="width:170px;" @click="filtro=2">
                Clientes
            </div>
        </div>
        <div class="p-3 f-15">
            <div class="row mx-0">
                Crea grupo de preguntas y preguntas que puedan ayudar a los usuarios a aclarar sus inquietudes sobre como funciona YourMarket.
            </div>
            <ValidationObserver ref="validacion" v-slot="{ valid }">
                <div class="row mx-0 my-2">
                    <div class="col-5 px-2">
                        <ValidationProvider v-slot="{errors}" rules="required" name="tipo">
                            <p class="ml-2">Grupo de preguntas</p>
                            <el-input :suffix-icon="false?'icon-attention-alt text-danger':''" v-model="input1" />
                            <span v-show="false" class="text-danger w-100 f-11"> Ya existe un motivo con este nombre </span>
                            <span class="text-danger w-100 f-11"> {{errors[0]}} </span>
                        </ValidationProvider>
                    </div>
                    <div class="col-auto mt-3 pt-1">
                        <el-tooltip class="item" effect="light" content="Crear grupo de preguntas" placement="bottom">
                            <div class="bg-grr-general cr-pointer d-middle-center br-10" style="width:44px;height:44px;">
                                <i class="icon-plus f-20 text-white" />
                            </div>
                        </el-tooltip>
                    </div>
                </div>
            </ValidationObserver>
            <div class="">
                <draggable :list="grupos" handle=".handle">
                    <div v-for="(grupo, idx) in grupos" :key="idx">
                        <div class="row mx-0 px-2">
                            <i class="icon-drag my-auto mr-1 f-18 cr-pointer handle" />
                            <div class="col px-0 border br-10">
                                <div class="d-middle mx-0">
                                    <div class="px-2 br-l-10" :class="!grupo.editar?'bg-gr-red':'bg-general2'" style="height:40px;" />
                                    <!-- <p class="tres-puntos f-17 mx-2">{{grupo.nombre}}</p> -->
                                    <div class="col px-0 pr-2 bg-disabled">
                                        <el-input v-model="grupo.nombre" class="border-0" :disabled="!grupo.editar" />
                                    </div>
                                    <el-tooltip class="item" effect="light" content="Editar grupo de preguntas" placement="bottom">
                                        <div v-show="!grupo.editar" class="bg-grr-general d-middle br-5 text-white cr-pointer m-1 ml-auto" style="width:32px;height:32px;" @click="grupo.editar=true">
                                            <i class="icon-pencil-outline f-22" />
                                        </div>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="light" content="Eliminar grupo de preguntas" placement="bottom">
                                        <div v-show="!grupo.editar" class="bg-gr-red d-middle br-5 cr-pointer text-white m-1" style="width:32px;height:32px;" @click="eliminarGrupo">
                                            <i class="icon-trash-empty f-22" />
                                        </div>
                                    </el-tooltip>
                                    <div v-show="!grupo.editar" class="bg-grr-general cr-pointer d-middle br-5 text-white m-1" style="width:32px;height:32px;" @click="crearPregunta">
                                        <i class="icon-plus f-22" />
                                    </div>
                                    <div v-show="grupo.editar" class="bg-general2 d-middle br-5 text-white cr-pointer m-1" style="width:32px;height:32px;" @click="grupo.editar=false">
                                        <i class="icon-ok-circled-outline f-22" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-for="(item, keyidx) in grupo.items" :key="`item-${keyidx}`">
                            <div class="row mx-0 pl-3 pr-2 mt-2">
                                <i class="icon-drag my-auto mr-1 f-18 cr-pointer handle" />
                                <div class="col px-0 bg-rosa br-10">
                                    <div class="d-middle mx-0">
                                        <p class="tres-puntos f-17 mx-2">{{item.nombre}}</p>
                                        <el-tooltip class="item" effect="light" content="Editar pregunta" placement="bottom">
                                            <div class="btn-edit d-middle br-5 text-white ml-auto cr-pointer m-1" style="width:32px;height:32px;" @click="crearPregunta">
                                                <i class="icon-pencil-outline f-22" />
                                            </div>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="light" content="Eliminar pregunta" placement="bottom">
                                            <div class="btn-delete d-middle br-5 text-white cr-pointer m-1" style="width:32px;height:32px;" @click="eliminarPregunta">
                                                <i class="icon-trash-empty f-22" />
                                            </div>
                                        </el-tooltip>
                                        <el-switch
                                        class="my-auto switch-red"
                                        v-model="item.activo"
                                        active-color="red"
                                        inactive-color="#DBDBDB"
                                        />
                                        <i class="mx-2 cr-pointer f-22" :class="!item.collapse?'icon-angle-down':'icon-angle-up'" @click="item.collapse=!item.collapse" />
                                    </div>
                                </div>
                            </div>
                            <div v-show="item.collapse" class="row mx-0 px-3 my-2">
                                <div class="col">
                                    <p>"Mi tienda" es la App de delivery que lleva a la puerta de tu casa todo lo que necesites en menos de una hora. Para hacer tu pedido solo debes seleccionar los productos y "Mi tienda" buscará a las tiendas de tu barrio que están cerca de tu ubicación. Ellos lo preparan y te lo llevan hasta tu casa ¡Así de fácil!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 my-2 justify-content-center align-items-center">
                            <div class="rounded-circle bg-whitesmoke mr-2" style="width:35px;height:35px;">
                                <i class="icon-format-list-bulleted-type f-23 text-gr-general" />
                            </div>
                            <p>Grupo sin preguntas</p>
                        </div>
                    </div>
                </draggable>
            </div>
            <div class="row mx-0 my-3 justify-center">
                <div class="" style="width:160px;">
                    <p>Aún no se han creado preguntas frecuentes</p>
                </div>
            </div>
        </div>
        <modalCrearPregunta ref="modalCrearPregunta" />
        <modalEliminar ref="modalEliminarGrupo" titulo="Eliminar grupo de preguntas" mensaje="¿Desea eliminar el grupo?" />
        <modalEliminar ref="modalEliminarPregunta" titulo="Eliminar pregunta" mensaje="¿Desea eliminar la pregunta?" />
    </section>
</template>

<script>
export default {
    components: {
        modalCrearPregunta: () => import('./partials/modalCrearPregunta')
    },
    data(){
        return {
            filtro: 1,
            input1: '',
            grupos: [
                {
                    nombre: 'Grupo 1: General',
                    editar: false,
                    items: [
                        { nombre: '¿Qué es "YourMarket"?', activo: false, collapse: false },
                        { nombre: '¿Qué es "YourMarket"?', activo: true, collapse: false },
                    ]
                }
            ]
        }
    },
    methods: {
        crearPregunta(){
            this.$refs.modalCrearPregunta.toggle()
        },
        eliminarGrupo(){
            this.$refs.modalEliminarGrupo.toggle()
        },
        eliminarPregunta(){
            this.$refs.modalEliminarPregunta.toggle()
        }
    }
}
</script>

<style lang="scss" scoped>
.bg-rosa{
    background: #f5f5f5;
}
.text-orange{
    color: #FF612B;
}
$border: 5px;
.border-b-red{
    border-width: 3px;
    border-style: solid;
    border-image: var(--gr-r-red) 0 0 100%;
}
</style>
