<template>
    <section>
        <div class="row mx-0 px-3 pl-5 my-1 border-bottom align-items-center" style="height:50px;">
            <p class="f-600">Términos y condiciones</p>
            <div class="ml-auto h-100 d-middle-center cr-pointer" :class="filtro==1? 'border-b-red text-orange':''" style="width:170px;" @click="filtro=1">
                Tenderos
            </div>
            <div class="h-100 d-middle-center cr-pointer" :class="filtro==2? 'border-b-red text-orange':''" style="width:170px;" @click="filtro=2">
                Clientes
            </div>
        </div>
        <div class="p-3 f-15">
            <div class="row mx-0">
                Crea los términos legales que considere de la naturaleza de este sitio web, esto con el objetivo de protegerse como propietario de una posible exposición legal.
            </div>
            <div class="row mx-0 my-4">
                <div class="col-auto px-2">
                    <p class="f-18 f-600">Términos y Condiciones de Uso de Plataforma “YourMarket”</p>
                    <p class="">Actualizado: 06/08/2020</p>
                </div>
                <div class="col-auto pt-1">
                    <el-tooltip class="item" effect="light" content="Crear término" placement="bottom">
                        <div class="bg-grr-general cr-pointer d-middle-center br-10" style="width:44px;height:44px;" @click="crearTermino">
                            <i class="icon-plus f-20 text-white" />
                        </div>
                    </el-tooltip>
                </div>
            </div>
            <div class="">
                <draggable :list="items" handle=".handle">
                    <div v-for="(item, keyidx) in items" :key="`item-${keyidx}`">
                        <div class="row mx-0 pl-3 pr-2 mt-2">
                            <i class="icon-drag my-auto mr-1 f-18 cr-pointer handle" />
                            <div class="col px-0 bg-rosa br-10">
                                <div class="d-middle mx-0">
                                    <p class="tres-puntos f-17 mx-2">{{item.nombre}}</p>
                                    <el-tooltip class="item" effect="light" content="Editar término" placement="bottom">
                                        <div class="btn-edit d-middle br-5 text-white ml-auto cr-pointer m-1" style="width:32px;height:32px;" @click="crearTermino">
                                            <i class="icon-pencil-outline f-22" />
                                        </div>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="light" content="Eliminar término" placement="bottom">
                                        <div class="btn-delete d-middle br-5 text-white cr-pointer m-1" style="width:32px;height:32px;" @click="eliminarTermino">
                                            <i class="icon-trash-empty f-22" />
                                        </div>
                                    </el-tooltip>
                                    <el-switch
                                    class="my-auto switch-red"
                                    v-model="item.activo"
                                    active-color="red"
                                    inactive-color="#DBDBDB"
                                    />
                                    <i class="mx-2 cr-pointer f-22" :class="!item.collapse?'icon-angle-down':'icon-angle-up'" @click="item.collapse=!item.collapse" />
                                </div>
                            </div>
                        </div>
                        <div v-show="item.collapse" class="row mx-0 px-3 my-2">
                            <div class="col">
                                <p>"Mi tienda" es la App de delivery que lleva a la puerta de tu casa todo lo que necesites en menos de una hora. Para hacer tu pedido solo debes seleccionar los productos y "Mi tienda" buscará a las tiendas de tu barrio que están cerca de tu ubicación. Ellos lo preparan y te lo llevan hasta tu casa ¡Así de fácil!</p>
                            </div>
                        </div>
                    </div>
                </draggable>
            </div>
            <div class="row mx-0 my-3 justify-center">
                <div class="" style="width:160px;">
                    <p>Aún no se han creado términos y condiciones</p>
                </div>
            </div>
        </div>
        <modalCrearTermino ref="modalCrearTermino" />
        <modalEliminar ref="modalEliminarTermino" titulo="Eliminar término" mensaje="¿Desea eliminar el término?" />
    </section>
</template>

<script>
export default {
    components: {
        modalCrearTermino: () => import('./partials/modalCrearTermino')
    },
    data(){
        return {
            filtro: 1,
            input1: '',
            items: [
                { nombre: 'Información', activo: false, collapse: false },
                { nombre: '¿Qué es "YourMarket"?', activo: true, collapse: false },
            ]
        }
    },
    methods: {
        crearTermino(){
            this.$refs.modalCrearTermino.toggle()
        },
        eliminarTermino(){
            this.$refs.modalEliminarTermino.toggle()
        }
    }
}
</script>

<style lang="scss" scoped>
.bg-rosa{
    background: #f5f5f5;
}
.text-orange{
    color: #FF612B;
}
$border: 5px;
.border-b-red{
    border-width: 3px;
    border-style: solid;
    border-image: var(--gr-r-red) 0 0 100%;
}
</style>
