<template>
    <section>
        <titulo texto="Configuración" />
        <div class="row mx-0">
            <div class="border br-t-12 overflow-auto custom-scroll" style="width:420px;height:calc(100vh - 176px)">
                <router-link
                v-for="data in tabs"
                :key="tabs.titulo"
                :to="{name: data.name}"
                class="border-bottom tab-menu d-middle"
                style="height:60px;"
                >
                    <i class="icon-circle-empty f-20 ml-2 text-orange" />
                    <i :class="`icon-${data.icon} f-22 mx-1`" />
                    <p class="tres-puntos f-500">{{data.titulo}}</p>
                </router-link>
            </div>
            <div class="col">
                <p class="f-17 f-500 px-3">Selecciona la imagen que será la portada principal para la pagina web de SADECO.</p>
                <div class="row mx-0 my-2 my-3 mb-4">
                    <div class="col">
                        <cropper ref="imagen" v-model="imagen" :options="slimOptions" class="border" style="min-height:100px;width:100%;background:#F8F9FF;">
                            <div class="d-middle-center flex-column cover-cropper">
                                <i class="icon-image-area f-40 my-n3" />
                                <p>Añadir foto</p>
                            </div>
                        </cropper>
                        <p class="text-right">1920 * 640</p>
                    </div>
                    <div class="text-center">
                        <p>Previsualización</p>
                        <div class="position-relative d-flex flex-column" style="width:250px;">
                            <img class="w-100" src="/img/nav-mini.png" alt="" />
                            <div v-if="!img_fondo" class="w-100 border bg-whitesmoke" style="height:80px;" />
                            <img v-else class="w-100" :src="img_fondo" style="height:80px;padding-right:1px;" alt="" />
                            <img class="img-buscar" src="/img/buscar-mini.png" alt="" />
                        </div>
                    </div>
                </div>
                <p class="f-17 f-500 px-3">Selecciona la imagen que saldrá una vez el pasajero se haya registrado en SADECO.</p>
                <div class="row mx-0 my-2 my-3">
                    <div class="col">
                        <cropper ref="imagen" v-model="imagen" :options="slimOptions" class="border" style="min-height:100px;width:100%;background:#F8F9FF;">
                            <div class="d-middle-center flex-column cover-cropper">
                                <i class="icon-image-area f-40 my-n3" />
                                <p>Añadir foto</p>
                            </div>
                        </cropper>
                        <p class="text-right">1920 * 640</p>
                    </div>
                    <div class="text-center">
                        <p>Previsualización</p>
                        <div class="position-relative d-flex flex-column" style="width:250px;">
                            <img class="w-100" src="/img/nav-mini.png" alt="" />
                            <div v-if="!img_fondo" class="w-100 border bg-whitesmoke" style="height:80px;" />
                            <img v-else class="w-100" :src="img_fondo" style="height:80px;padding-right:1px;" alt="" />
                            <img class="img-fla border" src="/img/familia-mini.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return {
            tabs: [
                { name: 'configurar.banners', titulo: 'Banners', icon: 'image-area' }
            ],
            imagen: null,
            img_fondo: null,
            slimOptions: {
                ratio: '3:1',
                label: '',
                size: { width: 250, height: 250 },
                minSize: { width: 50, height: 50 },
                buttonCancelLabel: 'Cancelar',
                buttonConfirmLabel: 'ok'
            },
        }
    },
    watch: {
        imagen(val){
            if (val){
                this.img_fondo = this.$refs.cropLogo.instanciaCrop.dataBase64.output.image;
                console.log(this.img_fondo);
                // this.img_fondo = val.image
            }
            console.log(this.img_fondo);
        }
    },
}
</script>

<style lang="scss" scoped>
.br-t-12{
    border-radius: 12px 12px 0 0;
}
.tab-menu{
    text-decoration: none;
    border-radius: 12px 12px 0 0;
    color: var(--color-5d);
    .icon-circle-empty{visibility: hidden;}
    &.router-link-active{
        background: #FAF8FF;
        color: var(--color-general);
        .icon-circle-empty{visibility: visible;}
    }
}
.img-buscar{
    width: 90%;
    position: relative;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
}
.cover-cropper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAF8FF;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #DBDBDB;
}
.img-fla {
    width: 80%;
    position: relative;
    border-radius: 5px;
    left: 50%;
    bottom: 23px;
    transform: translate(-50%, 0);
}
</style>
