<template>
    <div style="height:85px;">
        <nav class="navbar navbar-expand-lg border-bottom d-middle text-white">
            <router-link :to="{ name: 'home', }">
                <img class="ml-5" height="50" src="/img/sadeco.png" alt="" />
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pr-5 br-8 hover-i">
                    <li class="nav-item p-2 d-middle cr-pointer hover-opt">
                        <i class="icon-user-circle mr-1" />
                        <p>Pedro Ardila</p>
                        <i class="icon-down-open ml-2" />
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</template>

<script>
export default {
    methods: {
        iniciarSesion(){
        }
    }
}
</script>

<style lang="css" scoped>
.navbar{
    position: fixed;
    width:100vw;
    top: 0px;
    height: 85px;
    z-index: 5;
    background: var(--gr-r-general);
    box-shadow: 0 3px 6px 0 #00000029;
    border-radius: 0 0 8px 8px;
}
.hover-i li:hover{
    background: #471F9B;
    border-radius: 12px;
}
</style>
