<template>
    <div class="row mx-0 tabs">
        <template v-for="(item,index) in tabs">
            <router-link
            :key="index"
            :data-xd="item.ruta"
            :to="{ name: `${item.ruta}`, params: item.params || {} }"
            :class="{'router-link-active': subIsActive(item.active)}"
            class="d-middle position-relative tab-inner"
            >
                <el-tooltip :disabled="item.component_name==$route.ruta" class="item" effect="light" :content="item.titulo" placement="top">
                    <i v-if="item.icono" :class="`${item.icono}`" class="mdi f-20" />
                </el-tooltip>
                <p class="nombre-tab">{{ item.titulo }}</p>
                <div v-if="item.num !== undefined" class="ml-2">
                    ({{ item.num }})
                </div>
            </router-link>
        </template>
        <slot name="btnAgregar" />
    </div>
</template>
<script>
export default {
    name: 'TabsIcons',
    props: {
        tabs: {
            type: Array,
            default: () => []
        }
    },
    computed: {
        isActive() {
            return this.$route.name
        }
    },
    methods: {
        subIsActive(input) {
            const paths = Array.isArray(input) ? input : [input]
            return paths.some(path => {
                return this.$route.path.indexOf(path) === 0 || this.$route.path.indexOf(path) === 1 || this.$route.name === path
            })
        }
    }
}
</script>

<style lang="scss" scoped>

.tabs{
    // padding-bottom: 6px;
    // border-bottom: 2px solid #32A3FD;
    box-shadow: 0px 2px 2px #d0d0d0;
    .item-tab{
        min-width: 40px;
        background: var(--color-general);
        color: #ffffff;
    }
    a{
        padding: 15px 12px 15px 12px !important;
        color: var(--color-gray) ;
        font-size: 14px;
        border-bottom: 2px solid transparent !important;
        
        &.router-link-active{
            padding: 12px 12px 5px 12px;
            border-bottom: 2px solid var(--color-general) !important;
            color: var(--color-general) !important;
            .nombre-tab{
                display: inline-block;
            }
            .item-tab{
                background: var(--color-general);
                color: white;
            }
        }
        &:hover{
            text-decoration: none !important;
        }
    }
}
</style>
