@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31010442');
  src: url('../font/fontello.eot?31010442#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?31010442') format('woff2'),
       url('../font/fontello.woff?31010442') format('woff'),
       url('../font/fontello.ttf?31010442') format('truetype'),
       url('../font/fontello.svg?31010442#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31010442#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-seat-recline-extra:before { content: '\54'; } /* 'T' */
.icon-view-grid-plus-outline:before { content: '\2708'; } /* '✈' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-ok:before { content: '\2715'; } /* '✕' */
.icon-location:before { content: '\e07a'; } /* '' */
.icon-user-add:before { content: '\e10f'; } /* '' */
.icon-eye:before { content: '\e740'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-flight:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-playlist-edit:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-flight-1:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-asiento:before { content: '\e80d'; } /* '' */
.icon-arrow-left:before { content: '\e80f'; } /* '' */
.icon-account-plus:before { content: '\e810'; } /* '' */
.icon-broom:before { content: '\e811'; } /* '' */
.icon-image-area:before { content: '\e813'; } /* '' */
.icon-view-grid:before { content: '\e814'; } /* '' */
.icon-ok-circled-outline:before { content: '\e827'; } /* '' */
.icon-eye-off:before { content: '\e828'; } /* '' */
.icon-attention-alt:before { content: '\e82e'; } /* '' */
.icon-facebook:before { content: '\e85a'; } /* '' */
.icon-swap-horizontal-bold:before { content: '\e85b'; } /* '' */
.icon-information-outline:before { content: '\e871'; } /* '' */
.icon-asientos:before { content: '\e872'; } /* '' */
.icon-busqueda:before { content: '\e873'; } /* '' */
.icon-confirmacion:before { content: '\e874'; } /* '' */
.icon-viajeros:before { content: '\e875'; } /* '' */
.icon-account-edit:before { content: '\e889'; } /* '' */
.icon-file-document-edit:before { content: '\e88a'; } /* '' */
.icon-alert-outline:before { content: '\e88b'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-circle:before { content: '\f2be'; } /* '' */