.btn-orange{
    background: var(--gr-r-orange);
    color: white !important;
    border: none!important;
}
.btn-general{
    background: var(--gr-r-general);
    color: white !important;
    border: none!important;
}
