.el-tooltip__popper {
    max-width: 320px;

    &.is-light {
        // box-shadow: 0px 3px 6px #00000050;
        border: 1px solid var(--color-general) !important;
        border-radius: 12px;
    }

    &.is-light[x-placement^=top] .popper__arrow {
        border-top-color: var(--color-general) !important;
        border-radius: 12px;
    }

    &.is-light[x-placement^=top] .popper__arrow::after {
        border-top-color: var(--general-text-color)
    }

    &.is-light[x-placement^=bottom] .popper__arrow {
        border-bottom-color: var(--color-general) !important;
        border-radius: 12px;
    }

    &.is-light[x-placement^=bottom] .popper__arrow::after {
        border-bottom-color: var(--general-text-color)
    }

    &.is-light[x-placement^=left] .popper__arrow {
        border-left-color: var(--color-general) !important;
        border-radius: 12px;
    }

    &.is-light[x-placement^=left] .popper__arrow::after {
        border-left-color: var(--general-text-color)
    }

    &.is-light[x-placement^=right] .popper__arrow {
        border-right-color: var(--color-general) !important;
        border-radius: 12px;
    }

    &.is-light[x-placement^=right] .popper__arrow::after {
        border-right-color: var(--general-text-color)
    }

}
