<template>
    <modal ref="crearTermino" titulo="Crear política">
        <div class="row m-3 f-15">
            <div class="col">
                <label class="ml-2">Política</label>
                <el-input v-model="politica" />
            </div>
        </div>
        <div class="row m-3 f-15">
            <div class="col">
                <label class="ml-2">Explicación</label>
                <el-input v-model="explicacion" type="textarea" :rows="3" />
            </div>
        </div>
    </modal>
</template>

<script>
export default {
    data(){
        return {
            politica: '',
            explicacion: '',
        }
    },
    methods: {
        toggle(){
            this.$refs.crearTermino.toggle()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
