<template>
    <modal ref="crearTermino" titulo="Crear Pregunta">
        <div class="row m-3 f-15">
            <div class="col">
                <label class="ml-2">Pregunta</label>
                <el-input v-model="pregunta" />
            </div>
        </div>
        <div class="row m-3 f-15">
            <div class="col">
                <label class="ml-2">Respuesta</label>
                <el-input v-model="respuesta" type="textarea" :rows="3" />
            </div>
        </div>
    </modal>
</template>

<script>
export default {
    data(){
        return {
            pregunta: '',
            respuesta: '',
        }
    },
    methods: {
        toggle(){
            this.$refs.crearTermino.toggle()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
