.bg-f5{
    background: var(--color-f5);
}
.text-5d{
    color: var(--color-5d);
}
.text-gris{
    color: var(--color-db);
}
.text-gr-general{
    background: -webkit-linear-gradient(90deg, #270570, #3C09AF, #560DFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gr-orange{
    background: -webkit-linear-gradient(90deg, #FF2525, #FF9D32 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
