@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  src: url("~@/assets/fonts/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  src: url("~@/assets/fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Kamerik 105";
  src: url("~@/assets/fonts/Kamerik105-Bold.otf") format("truetype");
}

:root {
    --color-general: #4C0CE0;
    --gr-r-general: linear-gradient(to right, #560DFF, #3C09AF, #270570);
    --gr-general: linear-gradient(to bottom, #560DFF, #3C09AF, #270570);
    --gr-general-light: linear-gradient(to bottom, #BDA1FF, #550DFD);
    --gr-r-orange: linear-gradient(to right, #FF9D32, #FF2525 );
    --gr-orange: linear-gradient(to bottom, #FF9D32, #FF2525);
    --gr-r-red: linear-gradient(to right, #FF2525, #FF9D32);
    --color-5d: #5D5D5D;
    --color-f5: #F5F5F5;
    --color-db: #DBDBDB;
}
body{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
}
.kamerik{
    font-family: 'Kamerik 105';
    font-style: normal;
    font-weight: 400;
}
.text-general{
    color: var(--color-general);
}
.bg-general{
    background: var(--color-general) !important;
}
.bg-grr-general{
    background: var(--gr-r-general);
}
.bg-gr-general{
    background: var(--gr-general);
}
.bg-grr-orange{
    background: var(--gr-r-orange);
}
.bg-gr-orange{
    background: var(--gr-orange);
}
.text-orange{
    color: #FF602B;
}
.border-orange{
    border: 1px solid #FF602B
}
.bg-5d{
    background-color: var(--color-5d);
}

.pos-forma-right{
    position: absolute;
    right: 10px;
    bottom: -45px;
    height: 90px;
}
