// base
@import 'base/typography.scss';

// theme
@import 'theme/theme.scss';
@import 'theme/colores.scss';

//personalizados
@import 'personalizados/helpes.scss';

//components
@import 'components/check_radio.scss';
@import 'components/buttons.scss';
@import 'components/switch.scss';
@import 'components/popover.scss';
@import 'components/input.scss';
@import 'components/tooltip.scss';
@import 'components/vueperslides.css';
@import 'components/vueper.scss';

.ucfirst::first-letter{
	text-transform: uppercase !important;
}
.nl2br{
	white-space: pre-wrap !important;
}
